.btn {

    &__link {
        color: $color-white;
        font-size: 15px;
        text-transform: uppercase;
        border-radius: 20px;
        text-decoration: none;
        padding: 12px 45px;
        font-weight: 600;
    }

    &__icon {
        border: none;
        color: white;
        font-size: 35px;
        width: 70px;
        height: 70px;
        line-height: 70px;
        border-radius: 50%;
        box-shadow: 0px 5px 20px 0px rgba($color-black, 0.5);
        cursor: pointer;
    }

    &--gold {
        @include transition;
        background-color: $color-gold;

        &:hover,
        &:active {
            background-color: $color-gold-dark;
        }
    }
}