.team {
    background-image: linear-gradient(rgba($color-black, .6), rgba($color-black, .8)), url(../images/team.jpg);
    background-size: cover;
    background-position: center;
    position: relative;

    &__container {
        max-width: 1200px;
    }

    &__box {
        @include flex-row-center;
        margin-bottom: 25px;
    }

    &__slides {
        @include flex-col-center;
        background-color: $color-white;
        border-radius: 2px;
        margin: 15px;
        padding: 40px;
    }

    &__img {
        width: 100%;
        border-radius: 50%;
        padding: 50px;
    }

    &__text {
        margin: 10px 0 25px;
        font-size: 14px;
    }

    &__social {
        @include flex-row-center;
        list-style: none;
    }

    &__link:link,
    &__link:visited {
        @include transition;
        color: $color-white;
        background-color: $color-grey-light-4;
        border-radius: 50%;
        width: 35px;
        height: 35px;
        line-height: 35px;
        display: block;
        margin: 5px;
        text-align: center;

        &:hover,
        &:active {
            background-color: $color-gold;
        }
    }
}