.heading-1 {
    @include text-center;
    font-size: 70px;
    color: $color-white;
    line-height: 100%;
}

.heading-2 {
    @include text-center;
    font-weight: 600;
    font-size: 35px;

    &--white {
        color: $color-white;
    }
}

.heading-3 {
    @include text-center;
    color: $color-white;
}

.heading-4 {
    @include text-center;
    font-family: $font-secondary;
    font-size: 24px;
}

.paragraph {
    font-family: $font-secondary;
    line-height: 30px;
}

.paragraph-head {
    @include text-center;
    font-weight: 600;
    color: $color-grey-light;
}

.paragraph-small {
    text-align: center;
    font-family: $font-secondary;
    color: $color-grey-light-2;
    font-size: 12px;
    line-height: 30px;
}