.heading-1 {
    @include text-center;
    font-size: 70px;
    color: $color-white;
    line-height: 100%;

    @include respond(break-l) {
        font-size: 65px;
    }

    @include respond(break-m) {
        font-size: 55px;
    }

    @include respond(break-s) {
        font-size: 25px;
    }
}

.heading-2 {
    @include text-center;
    font-weight: 600;
    font-size: 35px;

    &--white {
        color: $color-white;
    }

    @include respond(break-m) {
        font-size: 30px;
    }

    @include respond(break-s) {
        font-size: 20px;
    }
}

.heading-3 {
    @include text-center;
    color: $color-white;

    @include respond(break-s) {
        font-size: 15px;
    }
}

.heading-4 {
    @include text-center;
    font-family: $font-secondary;
    font-size: 24px;
}

.paragraph {
    font-family: $font-secondary;
    line-height: 30px;

    @include respond(break-s) {
        font-size: 12px;
        line-height: 22px;
    }
}

.paragraph-head {
    @include text-center;
    font-weight: 600;
    color: $color-grey-light;

    @include respond(break-s) {
        font-size: 12px;
    }
}

.paragraph-small {
    text-align: center;
    font-family: $font-secondary;
    color: $color-grey-light-2;
    font-size: 12px;
    line-height: 30px;
    font-weight: 700;

    @include respond(break-s) {
        line-height: 24px;
    }
}