$font-primary: 'Poppins', sans-serif;
$font-secondary: 'Quicksand', sans-serif;

$color-twitter: #34C5F0;
$color-in: #127CB4;
$color-facebook: #336297;
$color-gplus: #E74237;
$color-pinterest: #B71C29;

$color-white: #ffffff;
$color-black: #000000;
$color-grey: #F7F7F7;
$color-grey-light: #AEAEAE;
$color-grey-light-2: #737373;
$color-grey-dark: #373737;
$color-gold: #B88B58;
$color-gold-dark: #9b754b;