.btn {

    &__link {
        color: $color-white;
        font-size: 15px;
        text-transform: uppercase;
        border-radius: 20px;
        text-decoration: none;
        padding: 12px 45px;
        font-weight: 600;
        display: inline-block;

        &--gold {
            @include transition;
            background-color: $color-gold;

            &:hover,
            &:active {
                background-color: $color-gold-dark;
            }
        }

        &--grey {
            @include transition;
            background-color: $color-grey-dark;

            &:hover,
            &:active {
                background-color: $color-gold;
            }
        }
    }

    &__icon {
        @include shadow;
        border: none;
        color: white;
        font-size: 35px;
        width: 70px;
        height: 70px;
        line-height: 70px;
        border-radius: 50%;
        cursor: pointer;
    }
}