.about {
    background-color: $color-grey;

    &__box {
        display: flex;
        flex-direction: row;
        margin-top: 50px;

        @include respond(break-l) {
            flex-direction: column;
        }
    }

    &__left {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding-right: 50px;

        & p {
            margin-bottom: 25px;
        }

        @include respond(break-l) {
            align-items: center;
            padding: 10px;
            text-align: center;
        }
    }

    &__right {
        position: relative;

        @include respond(break-l) {
            display: flex;
            justify-content: center;
            margin-top: 20px;
        }
    }

    &__img {
        @include shadow;
        width: 400px;
        filter: brightness(50%);
        cursor: pointer;
    }

    &__text {
        @include center;
        @include text-center;
        color: $color-white;
        font-size: 35px;
        width: 100%;
        cursor: pointer;
    }

    &__icon {
        color: $color-white;
        border: 2px solid $color-white;
        border-radius: 50%;
        width: 70px;
        height: 70px;
        line-height: 70px;
    }
}