.companies {
    border-top: 1px solid $color-grey-light-4;
    border-bottom: 1px solid $color-grey-light-4;

    &__list {
        @include flex-row-center;
        justify-content: space-between;
        list-style: none;
        flex-wrap: wrap;

        @include respond(break-l) {
            justify-content: center;
        }
    }

    &__img {

        @include respond(break-l) {
            margin: 5px;
        }
    }
}