.premium {
    position: relative;

    &__container {
        border-bottom: 1px solid $color-grey-light-4;
        padding-bottom: 25px;
        margin-bottom: 25px;
    }

    &__box {
        @include flex-row-center;
        margin-top: 50px;

        @include respond(break-l) {
            flex-direction: column;
        }
    }

    &__half {
        flex-basis: 50%;
    }

    &__main {
        list-style: none;
    }

    &__list {
        list-style: none;
        margin-left: 40px;

        @include respond(break-l) {
            text-align: center;
            margin-left: 0;
        }
    }

    &__item {
        color: $color-grey-light-2;
        font-size: 14px;
    }

    &__img {
        width: 100%;
    }

    &__header {
        @include flex-row-center;
        font-weight: 700;
        font-size: 30px;
        text-transform: uppercase;
        color: $color-black;
        margin-top: 10px;

        @include respond(break-l) {
            justify-content: center;
        }

        @include respond(break-s) {
            font-size: 24px;
        }
    }

    &__icon {
        color: $color-gold;
        font-size: 40px;
        margin-left: -80px;
        margin-right: 40px;

        @include respond(break-xl) {
            margin-left: -40px;
            margin-right: 10px;
            font-size: 30px;
        }

        @include respond(break-l) {
            margin-left: 10px;
            margin-right: 10px;
        }
    }

    &__dots {
        width: 100%;
        position: relative;
        padding-top: 100px;
    }
}