.projects {

    &__menu {
        width: 100%;
        display: inline-flex;
        justify-content: center;
    }

    &__list {
        @include flex-row-center;
        list-style: none;
        border: 1px solid $color-grey-light;
        background-color: $color-grey-light-3;
        border-radius: 50px;
        padding: 2px 30px;
        margin: 50px auto;

        @include respond(break-m) {
            padding: 1px 2px;
            border-radius: 0%;
            width: 100%;
            margin: 20px auto;
            justify-content: space-between;
        }

        @include respond(break-s) {
            flex-direction: column;
        }
    }

    &__item {
        padding: 0 2px;

        &:not(:last-child) {
            border-right: 1px solid $color-grey-light;

            @include respond(break-s) {
                border-right: 0;
                border-bottom: 1px solid $color-grey-light;
            }
        }

        @include respond(break-m) {
            width: 100%;
            display: flex;
            justify-content: center;
        }
    }

    &__link:link,
    &__link:visited {
        @include transition;
        display: flex;
        height: 100%;
        text-decoration: none;
        color: $color-black;
        padding: 10px 20px;
        border-bottom: 5px solid transparent;
        transform: translateY(2px);
        text-align: center;

        &:hover,
        &:active {
            border-bottom: 5px solid $color-gold;
        }

        @include respond(break-m) {
            font-size: 12px;
            padding: 5px;
            text-align: center;
        }
    }

    &__box {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    &__slide {
        flex-basis: 25%;
        position: relative;
        cursor: pointer;

        @include respond(break-l) {
            flex-basis: 33%;
        }

        @include respond(break-m) {
            flex-basis: 50%;
        }

        @include respond(break-s) {
            flex-basis: 100%;
        }
    }

    &__img {
        @include transition;
        width: 100%;
        padding: 15px;

        @include respond(break-m) {
            padding: 2px 4px;
        }
    }

    &__details {
        @include transition;
        @include center;
        position: absolute;
        color: $color-white;
        width: 100%;
        padding: 15px;
        text-align: center;
        overflow: hidden;
        opacity: 0;
        bottom: -25px;
    }

    &__title {
        display: block;
    }

    &__text {
        font-size: 12px;
        line-height: 5px;
    }

    &__slide:hover > &__img {
        filter: brightness(50%);
    }

    &__slide:hover > &__details {
        opacity: 1;
        bottom: 0;
    }

    &__btn {
        margin-top: 25px;
        display: flex;
        justify-content: center;
    }
}