.services {
    background-color: $color-black;

    &__box {
        @include flex-row;
        margin-top: 25px;
    }

    &__slide {
        @include flex-col-center;
        width: 25%;
        padding: 10px;
        border-left: 2px solid $color-grey-light-2;

        &:last-child {
            border-right: 2px solid $color-grey-light-2;
        }
    }

    &__icon {
        color: $color-gold;
        font-size: 50px;
        width: 75px;
        height: 75px;
        text-align: center;
    }
}